@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>
  <form action="{{ route('accueil.store') }}" method="post">
    @include('partials/createForm')
  </form>
@endcomponent
