@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>
  <a href="{{route('accueil')}}">< retour</a>
  <div class="deck-container" >

        
          <td>
            {{ deck.name }}
          </td>          <br />
          <td>
            {{ deck.description }}
          </td>

     
      
    </div>
    <a href="{{ route('deck.createCarte', { id: deck.id }) }}" class="create-deck-link mt-6">Créer une carte</a>
  </div>
@endcomponent