<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      @yield('title', 'Flash Cards')
      </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    </head>
    <body class="flex flex-col min-h-screen">

      <header class="bg-blue-600 text-white py-4 text-center">
        <h1 class="text-3xl font-bold">
          Flash Cards
        </h1>
      </header>

      <main class="flex-grow container mx-auto text-center py-10">
        @section('content')
          @show
        </main>

        <footer class="bg-gray-800 text-white py-4 text-center">
          <p>
            &copy; 2025 Flash Cards. Tous droits réservés.
          </p>
        </footer>

      </body>
    </html>
