@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>
  <form action="{{ route('deck.store',{ id: deckId }) }}" method="post">
    @include('partials/createCard')
  </form>
@endcomponent