/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  color: #333;
}

/* Header */
header {
  background: linear-gradient(135deg, #007bff, #6610f2);
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Main Content */
.container {
  flex: 1;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

/* Footer */
footer {
  background: linear-gradient(135deg, #6610f2, #007bff);
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
  }
}
.alert {
  padding: 20px;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  background: rgb(0, 255, 204);
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
  font-size: 24px;
  text-align: center;
  animation:
    flash 1.5s infinite alternate,
    slideIn 0.5s forwards;
}
@keyframes flash {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Style sobre pour les champs de formulaire */
input {
  padding: 12px;
  margin: 12px 0;
  border: 2px solid #444;
  border-radius: 6px;
  font-size: 16px;
  background-color: #2b2b2b; /* Fond sombre */
  color: #e1e1e1; /* Texte clair */
  transition: all 0.3s ease;
}
button {
  padding: 12px 24px;
  background-color: #444;
  color: #e1e1e1;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  font-weight: bold;
}
button.visible {
  opacity: 1;
  pointer-events: all;
  display: inline;
}
